
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');

@import '~vuetify/dist/vuetify.min.css';

@import '~simplemde/dist/simplemde.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.editor-toolbar a:before {
  line-height: 30px;
  color: #000;
}
.editor-toolbar:hover, .editor-wrapper input.title:focus, .editor-wrapper input.title:hover {
  opacity: 1;
}
.editor-toolbar {
  background: #ffffff !important;
  opacity: 1;
}
a.menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
a.router-link-active {
  color: #2196F3;
}
a.router-link-active button div {
  color: #2196F3;
}
a {
  text-decoration: none;
}