<template>
    <v-content>
        <v-container fluid grid-list-xl fill-height>
            <v-layout row justify-center>
                <v-flex xs12>
                    <v-form @submit.prevent="create"  class="elevation-4 pa-4">
                        <span class="red--text" v-if="errors.title">Введите название</span>
                        <v-text-field
                            v-model="form.title"
                            label="Заголовок"
                            type="text"
                            required
                        ></v-text-field>

                        <span class="red--text" v-if="errors.category_id">Выберете категорию</span>
                        <v-autocomplete
                            :items="categories"
                            item-text="name"
                            item-value="id"
                            v-model="form.category_id"
                            label="Категория"
                            
                        ></v-autocomplete>

                        <span class="red--text" v-if="errors.body">Введите сообщение</span>
                        <markdown-editor v-model="form.body" ref="markdownEditor"></markdown-editor>

                        <v-btn 
                            color="green"
                            type="submit"
                            :disabled="disabled"
                        >Сохранить</v-btn>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
export default {
    data() {
        return {
            form: {
                title: null,
                category_id: null,
                body: null
            },
            categories: [],
            errors: {}
        }
    },
    created() {
        axios.get('/api/category')
            .then(res => this.categories = res.data.data)
    },
    methods: {
        create() {
            axios.post('/api/question', this.form)
                .then(res => this.$router.push(res.data.path))
                .catch(error => this.errors = error.response.data.errors)
        }
    },
    computed: {
        disabled() {
            return !(this.form.title && this.form.body && this.form.category_id)
        }
    }
}
</script>

<style>

</style>
