<template>
<v-content>
        <v-container fluid grid-list-xl fill-height>
            <v-layout row justify-center>
                <v-flex xs12>
                    <v-form @submit.prevent="update"  class="elevation-4 pa-4">
                        <v-text-field
                            v-model="form.title"
                            label="Заголовок"
                            type="text"
                            required
                        ></v-text-field>

                        <markdown-editor v-model="form.body" ref="markdownEditor"></markdown-editor>
                        
                        <v-card-actions>

                            <v-btn icon small type="submit">
                                <v-icon color="green darken-1">save</v-icon>
                            </v-btn>

                            <v-btn icon small @click="cancel">
                                <v-icon color="lime darken-1">cancel</v-icon>
                            </v-btn>

                        </v-card-actions>

                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
export default {
    props: ['data'],
    data() {
        return {
            form: {
                title: null,
                body: null
            }
        }
    },
    methods: {
        cancel() {
            EventBus.$emit('cancelEditing')
        },
        update() {
            axios.patch(`/api/question/${this.form.slug}`, this.form)
                .then(res => this.cancel())
        }
    },
    mounted() {
        this.form = this.data
    }
}
</script>

<style>

</style>
