<template>
        <v-content>
            <v-container fluid grid-list-md fill-height>
                <v-layout row wrap>
                    <v-flex sm8 xs12>
                        <v-card>
                            <v-toolbar color="cyan" dark dense class="mt-2">
                                <v-toolbar-title>Записи</v-toolbar-title>
                            </v-toolbar>
                        </v-card>
                        <question 
                            v-for="question in questions" 
                            :key="question.path"
                            :data=question
                            class="my-2"
                        ></question>
                    </v-flex>
                    
                    <v-flex sm4 ms12>
                        <app-sidebar></app-sidebar>
                    </v-flex>

                </v-layout>
            </v-container>
        </v-content>
</template>

<script>
import question from './question'
import AppSidebar from './AppSidebar'
export default {
    data() {
        return {
            questions: {}
        }
    },
    components: {question,AppSidebar},
    created() {
        axios.get('/api/question')
            .then(res => this.questions = res.data.data)
            .catch(error => console.log(error.response.data))
    }
}
</script>

<style>

</style>
