<template>
    <v-container fluid>
        <div v-if="question">

            <edit-question
                v-if="editing"
                :data = question
            ></edit-question>

            <show-question
                :data = question
                v-else
            ></show-question>
            <v-container>

                <replies :question="question"></replies>

                <new-reply v-if="loggedIn" :questionSlug="question.slug"></new-reply>
                <v-alert
                    :value="true"
                    color="warning"
                    icon="priority_high"
                    outline
                    v-else
                >
                Чтобы остовлять сообщения необходимо <router-link to="/login">войти</router-link> или <router-link to="/signup">зарегистрироваться</router-link>
                </v-alert>
            </v-container>
        </div>
    </v-container>
</template>

<script>
import ShowQuestion from './showQuestion.vue'
import EditQuestion from './editQuestion.vue'
import Replies from '../reply/replies.vue'
import NewReply from '../reply/newReply.vue'
export default {
    components: {ShowQuestion,EditQuestion,Replies,NewReply},
    data() {
        return {
            question: null,
            editing: false
        }
    },
    created() {

        this.listen()
        this.getQuestion()
        
    },
    computed: {
        loggedIn() {
            return User.loggedIn()
        }
    },
    methods: {
        listen() {
            
            EventBus.$on('startEditing', () => {
                this.editing = true
            })

            EventBus.$on('cancelEditing', () => {
                this.editing = false
            })
        },
        getQuestion() {
            axios.get(`/api/question/${this.$route.params.slug}`)
                .then(res => this.question = res.data.data)
        }
    }
}
</script>

<style>

</style>
