<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12>
                <div>
                    <div class="headline">
                        {{ data.title }}
                    </div>
                    <span class="grey--text">{{ data.user }} опубликовал {{ data.created_at }}</span>
                </div>

                <v-spacer></v-spacer>
                <v-btn color="teal" dark    >{{ replyCount }} ответов</v-btn>
                <div v-html="body" class="pa-4 my-5"></div>
            </v-flex>

            <v-card-actions v-if="own">

                <v-btn icon small @click="edit">
                    <v-icon color="teal accent-3">edit</v-icon>
                </v-btn>

                <v-btn icon small @click="destroy">
                    <v-icon color="red darken-2">delete</v-icon>
                </v-btn>

            </v-card-actions>

        </v-layout>
        
    </v-container>
</template>

<script>

export default {
    
    props:['data'],
    data() {
        return {
            own: User.own(this.data.user_id),
            replyCount: this.data.reply_count
        }
    },
    computed: {
        body() {

            return md.parse(this.data.body)

        }
    },
    created() {

        EventBus.$on('newReply', () => {
            this.replyCount ++
        });

        Echo.private('App.User.' + User.id())
            .notification((notification) => {
                this.replyCount ++
        });

        EventBus.$on('deleteReply', () => {
            this.replyCount --
        });

        Echo.channel('deleteReply')
            .listen('DeleteReplyEvent', (e) => {
                this.replyCount --
            })
    },
    methods: {
        destroy() {
            axios.delete(`/api/question/${this.data.slug}`)
                .then(res => this.$router.push('/forum'))
                .catch(error => console.log(error.response.data))
        },
        edit() {
            EventBus.$emit('startEditing')
        }
    }
}
</script>

<style>

</style>
