<template>

        <v-content>
            <v-container fluid grid-list-xl fill-height>
                <v-layout row align-center justify-center>
                    <v-form @submit.prevent="login" class="elevation-4 pa-4">
                        <v-text-field
                            v-model="form.email"
                            label="E-mail"
                            type="email"
                            required
                        ></v-text-field>

                        <v-text-field
                            v-model="form.password"
                            label="Пароль"
                            type="password"
                            required
                        ></v-text-field>

                        <v-btn 
                            color="green"
                            type="submit"
                        >Войти</v-btn>

                        <router-link to="/signup">
                            <v-btn flat>Зарегистрироваться</v-btn>
                        </router-link>
                    </v-form>
                </v-layout>
            </v-container>
        </v-content>
</template>

<script>
export default {    
    data() {
        return {
            form: {
                email: null,
                password: null
            }
        }
    },
    created() {
        if(User.loggedIn()) {
            this.$router.push({ name: 'forum'})
        }
    },
    methods: {
        login() {
            User.login(this.form)
        }
    }
}
</script>

<style>

</style>
