<template>
    <v-content>
        <v-container fluid grid-list-xl fill-height>
            <v-layout row align-center justify-center>
                <v-form @submit.prevent="signup" class="elevation-3 pa-4">
                    <v-text-field
                        v-model="form.name"
                        label="Имя"
                        type="text"
                        required
                    ></v-text-field>

                    <span class="red--text" v-if="errors.name">{{errors.name[0]}}</span>

                    <v-text-field
                        v-model="form.email"
                        label="E-mail"
                        type="email"
                        required
                    ></v-text-field>
                    <span class="red--text" v-if="errors.email">{{errors.email[0]}}</span>


                    <v-text-field
                        v-model="form.password"
                        label="Пароль"
                        type="password"
                        required
                    ></v-text-field>
                    <span class="red--text" v-if="errors.password">{{errors.password[0]}}</span>


                    <v-text-field
                        v-model="form.password_confirmation"
                        label="Подтвердите пароль"
                        type="password"
                        required
                    ></v-text-field>

                    <v-btn 
                        color="green"
                        type="submit"
                    >Зарегистрироваться</v-btn>

                    <router-link to="/login">
                        <v-btn flat>Войти</v-btn>
                    </router-link>

                </v-form>
            </v-layout>
        </v-container>
    </v-content>
</template>



<script>
export default {

    data() {
        return {

            form: {
                name: null,
                email: null,
                password: null,
                password_confirmation: null
            },
            errors: {}
        }
    },
    created() {
        if(User.loggedIn()) {
            this.$router.push({ name: 'forum'})
        }
    },
    methods: {
        signup() {
            axios.post('/api/auth/signup', this.form)
                .then(res => {
                    User.responseAfterLogin(res)
                    this.$router.push({ name: 'forum'})
                })
                .catch(error => this.errors = error.response.data.errors)
        }
    }
}
</script>

<style>

</style>
