<template>
    <div>
        <v-app dark id="inspire">
            <toolbar></toolbar>
            <sidebar :data="open"></sidebar>
            <transition :name="transitionName">
                <router-view></router-view>
            </transition>
            <app-footer></app-footer>

        </v-app>
    </div>
</template>

<script>
import toolbar from './Toolbar'
import AppFooter from './AppFooter'
import Login from './login/Login'
import Sidebar from './Sidebar'

export default {
    components: {toolbar,AppFooter,Login,Sidebar},
    data() {
        return {
            open: false,
            transitionName: 'slide-left'
        }
    },
    created() {
        EventBus.$on('opensidebar', () => {
                this.open = !this.open
        })
    }

}
</script>

<style>

</style>
