<template>
    <v-content class="">
        <v-parallax class="fluid grid-list-md fill-height" height="100%" src="//cdn.vuetifyjs.com/images/parallax/material.jpg">
            <v-layout
                align-center
                column
                justify-center
                >
                <h1 class="display-2 font-weight-thin mb-3">Форум</h1>
                <h4 class="subheading">Laravel, Vue, Vuetify</h4>
            </v-layout>
        </v-parallax>
    </v-content>
</template>

<script>
export default {

}
</script>

<style>

</style>
