<template>
      <v-navigation-drawer
        v-model="sidebar"
        absolute
        dark
        temporary
      >
        <v-list class="pa-1">
  
          <v-list-tile tag="div">

            <v-list-tile-content>
              <v-list-tile-title>Меню</v-list-tile-title>
            </v-list-tile-content>
  
            <v-list-tile-action>
              <v-btn icon @click="closeSidebar">
                <v-icon>close</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>

        <v-list dense>
          <v-list-tile
            v-for="item in items"
            :key="item.title"
            v-if="item.show"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>
                    <router-link :to="item.to" class="menu-link">{{ item.title }}</router-link>
                </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

      </v-navigation-drawer>
</template>

<script>
export default {
    props: ['data'],
    data () {
        return {
            sidebar: this.data,
            items: [
                {title: 'Форум', to: '/forum', icon: 'people', show: true},
                {title: 'Задать вопрос', to: '/ask', icon: 'question_answer', show: User.loggedIn()},
                {title: 'Категории', to: '/category', icon: 'category', show: User.admin()},
                {title: 'Войти', to: '/login', icon: 'home', show: !User.loggedIn()},
                {title: 'Выйти', to: '/logout', icon: 'exit_to_app', show: User.loggedIn()},
            ]
        }
    },
    methods: {
        closeSidebar() {
            EventBus.$emit('opensidebar')
            EventBus.$emit('closesidebar')
        }
    },
    created() {
        EventBus.$on('closesidebar', () => {
                this.sidebar = !this.sidebar
        })
    }

}
</script>

<style>

</style>
