<template>
    <v-toolbar>
        <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
        <v-toolbar-title>
            <router-link class="white--text btn" to="/">FORUM</router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <app-notification v-if="loggedIn"></app-notification>
        <div class="hidden-md-and-up">
            <v-btn
                dark
                icon
                @click="open"
                >
                <v-icon>menu</v-icon>
            </v-btn>
        </div>
        <div class="hidden-sm-and-down">
        <router-link
            v-for="item in items"
            :key="item.title"
            :to="item.to"
            v-if="item.show">
            <v-btn flat>{{ item.title }}</v-btn>
        </router-link>
        
        </div>
    </v-toolbar>
</template>

<script>
import AppNotification from './AppNotification'
export default {
    components: {AppNotification},
    data() {
        return {
            loggedIn: User.loggedIn(),
            items: [
                {title: 'Форум', to: '/forum', show: true},
                {title: 'Задать вопрос', to: '/ask', show: User.loggedIn()},
                {title: 'Категории', to: '/category', show: User.admin()},
                {title: 'Войти', to: '/login', show: !User.loggedIn()},
                {title: 'Выйти', to: '/logout', show: User.loggedIn()},
            ]
        }
    },
    created() {
        EventBus.$on('logout', () => {
            User.logout()
        })
    },
    methods: {
        open() {
            EventBus.$emit('opensidebar')
            EventBus.$emit('closesidebar')
        }
    }
}
</script>

<style>

</style>
