<template>
    <v-content>
        <v-container fluid grid-list-xl fill-height>
            <v-layout row justify-center>

                <v-flex xs12>
                    
                    <v-form  @submit.prevent="submit" class="elevation-4 pa-4">
                        <v-text-field
                            v-model="form.name"
                            label="Название"
                            required
                        ></v-text-field>

                        <v-btn 
                            color="pink"
                            type="submit"
                            v-if="editSlug"
                            :disabled="disabled"
                        >Обновить</v-btn>
                        <v-btn 
                            color="green"
                            type="submit"
                            v-else
                            :disabled="disabled"
                        >Создать</v-btn>
                    </v-form>

                    <v-alert
                        :value="true"
                        color="error"
                        icon="warning"
                        outline
                        v-if="errors"
                        >
                        Введите название категории
                    </v-alert>

                    <v-card class="my-3">

                        <v-toolbar color="cyan" dark dense>
                            <v-toolbar-title>Категории</v-toolbar-title>
                        </v-toolbar>

                        <v-list>
                            <div v-for="(category, index) in categories" :key="category.id">
                                <v-list-tile>

                                    <v-list-tile-content>
                                        <v-list-tile-title>{{ category.name }}</v-list-tile-title>
                                    </v-list-tile-content>

                                    <v-btn icon small @click="edit(index)">
                                        <v-icon color="orange">edit</v-icon>
                                    </v-btn>
                                    <v-btn icon small @click="destroy(category.slug, index)">
                                        <v-icon color="red">delete</v-icon>
                                    </v-btn>

                                </v-list-tile>
                                <v-divider></v-divider>
                            </div>
                        </v-list>

                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
export default {
    data() {
        return {
            form: {
                name: null
            },
            categories: {},
            editSlug: null,
            errors: null
        }
    },
    created() {

        if (!User.admin()) {
            this.$router.push('/forum')
        }

        axios.get('/api/category')
            .then(res => this.categories = res.data.data)
            
    },
    methods: {
        submit() {
            this.editSlug ? this.update() : this.create()
        },
        destroy(slug, index) {
            axios.delete(`/api/category/${slug}`)
                .then(res => this.categories.splice(index, 1))
        },
        edit(index) {
            this.form.name = this.categories[index].name
            this.editSlug = this.categories[index].slug
            this.categories.splice(index, 1)
        },
        create() {
            axios.post('/api/category', this.form)
                .then(res => {
                    this.categories.unshift(res.data)
                    this.form.name = null
                    this.errors = false
            })
            .catch(error => this.errors = true)
        },
        update() {
            axios.patch(`/api/category/${this.editSlug}`, this.form)
                .then(res => {
                    this.categories.unshift(res.data)
                    this.form.name = null
                    this.editSlug = null
            })
        }
    },
    computed: {
        disabled() {
            return !this.form.name
        }
    }
    
}
</script>

<style>

</style>
