<template>
    <div>
        <markdown-editor v-model="body" ref="markdownEditor"></markdown-editor>
        <v-btn dark color="green" @click="submit">Ответить</v-btn>
    </div>
</template>

<script>
export default {
    props: ['questionSlug'],

    data() {
        return {
            body:null
        }
    },
    methods: {
        submit() {
            axios.post(`/api/question/${this.questionSlug}/reply`, {body: this.body})
                .then(res => {
                    this.body = ''
                    EventBus.$emit('newReply', res.data.reply)
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: 'smooth'   
                    })
                })
        }
    }
}
</script>

<style>

</style>
